@font-face {
  font-family: 'pixelmix';
  src: url('assets/fonts/pixelmix.ttf');
}
// todo: ship without the above font

@import 'vendor/normalize-3.0.2';

html, body {
  height: 100%;
}

#loading {
  position: absolute;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
}

canvas {
  position: relative;
  margin: 0 auto;
}

.controls, .credits {
  margin: 10px auto 10px;
  width: 350px;
  overflow: visible;
}
