doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='style.css')
  body
    script.
      window.addEventListener('error', function (e) {
        var h1 = document.getElementById('loading');
        h1.textContent = 'error';
      });
    .loading-container
      h1#loading Loading...
    #game
    pre.
      Controls:
      Arrow keys / WASD / ZQSD to move
      Space to attack/interact
      F to eat a pretzel

    script(src='src/js/vendor/phaser-v2.6.2.min.js')
    script(src='bundle.js')
